.urlBox {
            display: block;
            float: left;
            height: 32px;
            width: 85%;
            
}

.urlSubmit {
            display: block;
            float: right;
            height: 40px;
            width: 10%;
            margin: -5px -2px -2px 0px;
            
}

.containerBox {
    padding: 0px;
}