.righArrow{
    float: right;
    margin-top: 7.5px;
    margin-left: 5px;
}

.righArrowWords{
    float: right;
    margin: 5px;
}

.allFilesArrow{
    border: none;
    background: none;
    color: #18BC9C;
    font-size: 20px;
    cursor: pointer; 
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 13%;
    float: right;
}

.allFilesBtn {
    float: right;
    color: black;
}

.addUrlPage {
   margin-top: 20px;
}

.addUrlBox {
    padding: 30px;
    background: white;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 1px solid rgb(163, 162, 162); */
 }

.selectFile {
    float: left;
}

@media screen and (max-width: 414px) {

    .addUrlBox {
        padding: 20px;
        margin: 20px;
     }

}
