.filesFormRow {
    text-align: center;
    margin-top: 20px;
}

.addNewFileBtn {
    float: right;
}

/* .addFileInput {
    width: 85%;
    float: left;
}

.addFileBtn {
    float: right;
} */

.tableHeader {
    float: left
}

.tableHeaderUrl {
    float: right
}

.files-container {
    margin-top: 20px;
    padding: 30px;
    background: white;
}

.viewFileLink {
    color: black;
    cursor: pointer; 
}


.fileName{
    cursor: pointer; 
}

.addBtn {
    cursor: pointer;
}

.deleteBtn {
    cursor: pointer;
}