.addAnotherRow{
    margin-top: 20px;
}



.leftArrow{
    float: left;
    margin-top: 7.5px;
    margin-right: 5px;
}

.leftArrowWords{
    float: left;
    margin: 5px;
}

.addAnotherURL{
    border: none;
    background: none;
    color: #18BC9C;
    font-size: 20px;
    cursor: pointer; 
    padding-left: 0px;
}
.addAnotherURL:hover {
    color: #18BC9C;
    
}

.filesFormRow {
    text-align: center;
    margin-top: 20px;
}

.addNewFileBtn {
    float: right;
}


.tableHeader {
    float: left
}

.tableHeaderUrl {
    float: right
}

.files-container {
    margin-top: 20px;
    padding: 30px;
    background: white;
}

.number {
    margin-top: 7.5px;
    margin-left: 17%;
}

.viewFileLink {
    color: black;
    cursor: pointer; 
}


.fileName{
    cursor: pointer; 
}

.addBtn {
    cursor: pointer;
}

.deleteBtn {
    cursor: pointer;
}

@media screen and (max-width: 414px) {

    .files-container {
        margin-top: 20px;
        padding: 10px;
        background: white;
    }
}