.filesFormRow {
    text-align: center;
    margin-top: 20px;
}

.addNewFileBtn {
    float: right;
}


.tableHeader {
    float: left
}

.tableHeaderUrl {
    float: right
}

.files-container {
    margin-top: 20px;
    padding: 30px;
    background: white;
}

.number {
    margin-top: 7.5px;
    margin-left: 17%;
}

.viewFileLink {
    color: black;
    cursor: pointer; 
}


.fileName{
    cursor: pointer; 
}

.addBtn {
    cursor: pointer;
}

.deleteBtn {
    cursor: pointer;
}

@media screen and (max-width: 414px) {

    .files-container {
        margin-top: 20px;
        padding: 10px;
        background: white;
    }
}